$primary-color: #4196be;
$primary-color-bitlight:#6bb8db;
$primary-color-light: #c4e5f4;

$media-small: "screen and (max-width: 650px)";
// #{$media-small}
$media-static-menu: "screen and (min-height: 650px) and (min-width: 650px)";
